.depend
*.bin
*.o
*.tar.gz
.gdb_history
toolchain/bin/
toolchain/binutils-*/
toolchain/gcc-*/
toolchain/gdb-*/
toolchain/i386-elf/
toolchain/include/
toolchain/lib/
toolchain/libexec/
toolchain/share/
